@import "pro.scss";
.img{
.top-button-pro{
	padding: 10px 21px;
	background: #47ad68;
}
}
.triangle{
	border-bottom: 6px solid #306e44;
	border-top: 6px solid transparent;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
}